.boxarea h1{
    /* background:; */
    padding-top:0px;
    text-align: center;
    font-weight: 700;
}
.box1{
    /* background:; */
    padding-top:30px;
    padding-bottom:50px;
}
.box2 h3{
    text-align: left;
}
.box2{
    /* background: rgb(210, 137, 210); */
    background: #EED9FE;
    text-align: justify;
    margin:20px;
    padding:50px;
    border-radius: 25px;
}
.head h2{font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: #111;
}
.hidden {
  opacity: 0;
  transform: translateY(40px);
}


@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft2 {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left1 {
  animation: slideInFromLeft 1s ease forwards;
}

.slide-in-right {
  animation: slideInFromRight 1s ease forwards;
}

.slide-in-left2 {
  animation: slideInFromLeft 1s ease forwards;
}

