.intro-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left:140px;
  padding-right:140px;
  background: linear-gradient(135deg, #f9fbff, #ffffff);
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

/* --- Left Side Text --- */
.intro-text {
  flex: 1;
  padding-left:60px;
  text-align: left;
  padding-top: 0%;
}

.intro-title {
  font-size: 2.75rem;
  font-weight: 800;
  color: #0b214a;
  font-family: '__Public_Sans_7dd612', '__Public_Sans_Fallback_7dd612', Helvetica, Arial, sans-serif;
  margin-bottom:8px;
  
    line-height: 1.3;
    text-align: left;
}
.intro-subtitle {
  font-size:1rem;
  text-align: left;
}
.intro-btn {
    align-items: left;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: capitalize;
    font-family: '__Public_Sans_7dd612', '__Public_Sans_Fallback_7dd612', Helvetica, Arial, sans-serif;
    border-radius: 8px;
    color: #fff;
    background-color:#561496;
    box-shadow: 0px 3px 1px -2px rgba(145, 158, 171, 0.2), 0px 2px 2px 0px rgba(145, 158, 171, 0.14), 0px 1px 5px 0px rgba(145, 158, 171, 0.12);
    padding: 8px 22px;
    margin: 40px 0;
}

.intro-btn:hover {
  transform: scale(1.05);
}

/* --- Right Side Images --- */
.intro-images {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.intro-img {
  position: absolute;
}

/* Left image (main) */
.intro-left {
  width: 80%;
}

/* Right image (smaller, opposite direction) */



/* --- Responsive --- */
@media (max-width: 900px) {
  .intro-section {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .intro-images {
    margin-top: 50px;
  }

  .intro-img {
    width: 70%;
    position: static;
    animation: none;
  }
}
